In [1]:
import pandas as pd

In [5]:
data = pd.read_excel('Long_format.xlsx')
data.head(3)
# Get position of 'Volume' column

volume_idx = data.columns.get_loc('Vol')

# Keep all columns up to 'Volume' (inclusive)
data = data.iloc[:, :volume_idx + 1]
print(data)

         Hscode  Year        Val          Vol
0     H02071493  2020  700401143  62665850.69
1     H03054100  2020       4843        18.03
2     H04039090  2020    1133128     27351.02
3     H04041000  2020    6530806    580869.65
4     H04090000  2020      22623        17.90
...         ...   ...        ...          ...
9430  H96151100  2024     565691      4262.48
9431  H96151900  2024     162196       178.35
9432  H96159000  2024     154676      2635.75
9433  H96170000  2024    5457594      3509.93
9434  H96190030  2024       1265         3.98

[9435 rows x 4 columns]

In [7]:
# First, pivot Value and Vol together using pd.wide_to_long approach manually:
df_value = data.pivot(index='Hscode', columns='Year', values='Val')
df_vol = data.pivot(index='Hscode', columns='Year', values='Vol')

In [8]:
# Rename columns to indicate Value/Vol
df_value.columns = [f"{col}_Value" for col in df_value.columns]
df_vol.columns = [f"{col}_Vol" for col in df_vol.columns]

In [9]:
# Join them back together horizontally
df_wide = pd.concat([df_value, df_vol], axis=1).reset_index()

In [10]:
# View reshaped DataFrame
print(df_wide.head())

      Hscode   2020_Value   2021_Value   2022_Value   2023_Value   2024_Value  \
0  H02071423          NaN     336156.0    3049547.0    1408184.0          NaN
1  H02071493  700401143.0  481800055.0  433459084.0  424215611.0  155539190.0
2  H03044200          NaN          NaN          NaN        401.0          NaN
3  H03054100       4843.0       6377.0      27870.0      33293.0      27252.0
4  H03055900          NaN          NaN         43.0        112.0        805.0

      2020_Vol     2021_Vol     2022_Vol     2023_Vol    2024_Vol
0          NaN     27000.00    449430.00    130170.00         NaN
1  62665850.69  38372635.97  30224976.47  24327872.04  6992369.00
2          NaN          NaN          NaN         0.45         NaN
3        18.03         8.28        54.88        27.00       27.84
4          NaN          NaN         0.49         0.61        0.63

In [11]:
df_wide.to_excel('wide_format_data.xlsx', index=False)

In [17]:
# Load wide-format dataset (the one you pivoted earlier)
df_wide = pd.read_excel('wide_format_data.xlsx')

# Load the HSCode-Description dataset (long format)
df_desc = pd.read_excel('descriptions_data.xlsx')  # Should have columns: HSCode, Description

In [18]:
# Merge on HSCode
df_final = pd.merge(df_wide, df_desc, on='Hscode', how='left')

# View final dataset
print(df_final.head())

      Hscode   2020_Value   2021_Value   2022_Value   2023_Value   2024_Value  \
0  H02071423          NaN     336156.0    3049547.0    1408184.0          NaN
1  H02071423          NaN     336156.0    3049547.0    1408184.0          NaN
2  H02071423          NaN     336156.0    3049547.0    1408184.0          NaN
3  H02071493  700401143.0  481800055.0  433459084.0  424215611.0  155539190.0
4  H02071493  700401143.0  481800055.0  433459084.0  424215611.0  155539190.0

      2020_Vol     2021_Vol     2022_Vol     2023_Vol   2024_Vol   Description
0          NaN     27000.00    449430.00    130170.00        NaN          Feet
1          NaN     27000.00    449430.00    130170.00        NaN          Feet
2          NaN     27000.00    449430.00    130170.00        NaN          Feet
3  62665850.69  38372635.97  30224976.47  24327872.04  6992369.0  Leg quarters
4  62665850.69  38372635.97  30224976.47  24327872.04  6992369.0  Leg quarters

In [16]:
df_final.to_excel('wide_data_with_descriptions.xlsx', index=False)